
header {width: 100%;}


/* GNB Bar */

.gnb_wrap {
   max-width: 1600px;
   height: 80px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

@media screen and (max-width: 1600px) 
{
   .gnb_wrap {padding: 30px;}
} 



.gnb_menu_wrap{
   display: flex;
}
.gnb_menu_wrap li {
   display: inline-block;
   margin: 0 32px;
   font-family: "NanumSquareEB";
   height: 80px;
   font-size: 15px;
   line-height: 21px;
   color: rgb(51, 51, 51);
   height: 80px;
   padding: 29px 0 ;
}

.gnb_right {
   display: flex;
   align-items: center;
}

.gnb_language {
   display: flex;
   font-family: "NanumSquare";
   font-size: 12px;
   line-height: 16.8px;
   color: rgb(51, 51, 51);
}
.eng {
   opacity: 0.6;
}

.gnb_right span {
   margin: 0 10px;
}
.gnb_hidden_navi {
   width: 24px;
   height: 23px;
   margin-left: 42px;
}
.gnb_hidden_navi a svg:hover {
   fill: #2cc34d;
}


/* Hero Slide */
.slide_wrap {
   width: 100%;
   padding-top: 40.21%;
   background-image: url(../img/img_main_slide8.jpg);
   position: relative;
}

.slide_indilogo {
   position: absolute;
   right: 160px;
   bottom: 78px;
}

.slide_inditext_page  {
   position: absolute;
   left: 160px;
   bottom: 112px;
   
}
.slide_inditext p:nth-child(1) {
   width: 1107px;
   height: auto;
   padding-bottom: 16px;
   
   font-family: "NanumSquareEB";
   font-size: 36px;
   line-height: 46px;
   letter-spacing: -1px;
   color: rgb(255, 255, 255);
}
.slide_inditext p:nth-child(3) {
   font-family: "NanumSquare";
   font-size: 15px;
   line-height: 24px;
   color: rgb(255, 255, 255);
   margin-top: 16px;
}
.slide_progressbar{
   width: 1105px;
   height: 1px;
   background-color:rgba(255, 255, 255, 0.5);
}

.slide_count p {
   font-family: "NanumSquareL"; 
   color: rgb(255, 255, 255); 
   font-size: 12px; 
   margin-top: 35px;
}
.slide_count_page {
   font-family: "NanumSquareEB";
}

.slide_count button {
   margin: 0 3px;
   color: rgb(255, 255, 255); 
}

.slide_icon button:nth-child(1) {
   position: absolute; 
   left: 85px;
   bottom: 198px;
   opacity: 0.8;
}
.slide_icon button:nth-child(1):hover ,.slide_icon span:nth-child(2):hover {
   opacity: 1;
}
.slide_icon button:nth-child(2) {
   position: absolute; 
   right: 85px;
   bottom: 198px;
   opacity: 0.8;
}



/* Main contents */ 
.main_contents {
   width: 100%;
   padding: 0 150px 120px;
}


/* Main contents - Contents summary */


.contents_summary_wrap {
   width: 100%;
}
.contents_summary {
   width: 100%;
   display: flex;
   margin-top: 69px;
}
.contents_summary_li {
   width: 27%;
   height: 177px;
}
.contents_summary_li_4{
   width: 19%;
   padding-left: 50px;
}

.contents_summary_li:nth-child(1){
   padding-right: 50px;
   border-right: 1px solid rgb(233, 233, 233);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.contents_summary_li:nth-child(2){
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding:0 50px;
   border-right: 1px solid rgb(233, 233, 233);
}

.contents_summary_li:nth-child(2) p,
.contents_summary_li_4 p {
   margin-bottom: 30px;
}

.contents_summary_li:nth-child(3) {
   padding:0 50px;
   border-right: 1px solid rgb(233, 233, 233);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.contents_summary_li:nth-child(3) .contants_picebox_wrap {
   margin: 23px 0 38px;
}

.contents_summary_li_4{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding:0 50px;
}

.icon_arrow svg {
   width: 16px;
   height: 16px;
   vertical-align: middle;
   margin-left: 14px;
}


.contents_summary_1:hover strong{
   text-decoration: underline;
}

.contents_summary_1{
   width: 100%;
}
.news_title {
   display: inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   width: 100%;
}
.news_text {
   display: inline-block;
   text-overflow: ellipsis;
   white-space: normal;
   overflow: hidden;
   width: 100%;
   height: 48px;
   text-align: left; 
   word-wrap: break-word; 
   display: -webkit-box; 
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
   margin-top: 5px;
}


.contents_pricebox {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding-bottom: 7px;
   border-bottom: 1px solid rgb(51, 51, 51);
}

.stock_up{
   display: flex;
   justify-content: end;
   align-items: center;
}

.contents_pricebox .up {
   width: 10px;
   height: 6px;
   background-image: url(../img/sprite.png);
   background-position: -318px -26px;
   margin-right: 10px;
}

.date {
   margin-top: 12px;
   text-align: right;
}

.contents_summary_linkin a:hover {
   text-decoration: underline;
}

.contents_summary_linkin a:hover span svg {
   fill: rgb(255, 255, 255);
   border-radius: 50%;
   background-color: #1ec545;
}



@media screen and (max-width: 1600px) 
{
   .contents_summary_wrap .contents_summary_li:nth-child(1) {padding-right: 20px;}
   .contents_summary_wrap .contents_summary_li:nth-child(2),
   .contents_summary_wrap .contents_summary_li:nth-child(3) {padding:0 20px;}
   .contents_summary_wrap .contents_summary_li_4 {
      padding:0 0 0 20px;}
} 


/* Main contents - Contents service */

.contents_service {
   margin-top: 98px;
}

.contents_service_list {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.contents_service_list_box {
   display: inline-block;
   width: 33.3333%;
   height : 0;
   padding-top : 25%;
   position: relative;
   overflow: hidden;
} 

.contents_service ul li a {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

.contents_service ul li a span, 
.contents_service ul li a dl {
   position: absolute;
   top: 150%;
   transition: all .35s;
}
.contents_service ul li a:hover span, 
.contents_service ul li a:hover dl {
   position: absolute;
   top: 50%;
}


.contents_service ul li a:hover {
   background-color: rgba(58, 62, 80, 0.5);
   transition: all .35s;
}


.contents_service_list_box a {
   display: block;
   width: auto;
   height: 100%;
}

.service_dl {
   position: absolute;
   bottom: 30px;
   padding: 50px 0 0 30px;
}

.contents_service_list_box span {
   width: 23px;
   height: 23px;
   background-image: url("../img/survice_icon.png");
   position: absolute;
   left: 30px;
   bottom: 120px;
}




.contents_service_list li:nth-child(1) {
   background-image: url(../img/main_content_1.png);
}
.contents_service_list li:nth-child(2) {
   background-image: url(../img/main_content_2.png);
}
.contents_service_list li:nth-child(3) {
   background-image: url(../img/main_content_3.png);
}
.contents_service_list li:nth-child(4) {
   background-image: url(../img/main_content_4.png);
}
.contents_service_list li:nth-child(5) {
   background-image: url(../img/main_content_5.png);
}
.contents_service_list li:nth-child(6) {
   background-image: url(../img/main_content_6.png);
}
.contents_service_list li:nth-child(7) {
   background-image: url(../img/main_content_7.png);
}
.contents_service_list li:nth-child(8) {
   background-image: url(../img/main_content_8.png);
}
.contents_service_list li:nth-child(9) {
   background-image: url(../img/main_content_9.png);
}


/* Main contents - Contents support */

.support_info {
   margin-top: 112px;
}
.support_info_top {
   text-align: center;
}
.support_title {
   margin-bottom: 17px;
}
.support_text {
   margin-bottom: 134px;
   font-size: 18px;
   line-height: 28.8px;
}

.support_list_container {
   max-width: 1360px;
   margin: 0 auto;
   display: flex;
} 
.support_list_box {
   width: 27%;
   height: 215px;
   text-align: center;
}

.support_list_box a {
   display: inline-block;
   position: relative;
   padding: 135px 10px 0;
   width: 100%;
   }

.support_list_box dl dt {
   font-family: "NanumSquareB";
   font-size: 16px;
   line-height: 22px;
   color: #00b843;
   margin-bottom: 10px;

}

.support_list_box a:hover dt {
   text-decoration: underline;
}

.support_list_box dl dd {
   font-family: "NanumSquare";
   font-size: 15px;
   line-height: 24px;
   color: #878890;
}

.support_list_box:nth-child(1),
.support_list_box:nth-child(2),
.support_list_box:nth-child(3) {
   border-right: 1px solid rgb(233, 233, 233);
}



.support_list_box a::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.support_list_box .creators::before {
   background-image: url(../img/support_icon1.png);
   width: 87px;
   height: 100px;
}
.support_list_box .business::before {
   background-image: url(../img/support_icon2.png);
   width: 101px;
   height: 100px;
}
.support_list_box .developers::before {
   background-image: url(../img/support_icon3.png);
   width: 110px;
   height: 95px;
}
.support_list_box .flower::before {
   background-image: url(../img/support_icon4.png);
   width: 94px;
   height: 101px;
}

/* Footer */

footer {
   width: 100%;
   background-color: #f8f9fa;
}

.footer_wrap {
   max-width: 1600px;
   position: relative;
   margin: 0 auto;
   height: 160px;
   padding: 74px 30px 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.footer_logo {
   margin-right: 12px;
}
.footer_left {
   display: flex;
   align-items: center;
}
.footer_menu {
   position: absolute;
   left: 105px;
   top: 74px;
   display: flex;
   justify-content: space-between;
}


.footer_menu li {
   margin: 0 10px;
   font-size: 14px;
   line-height: 19.6px;
   font-family: "NanumSquare";
   position: relative;
}

.footer_menu li::before {
   content: "";
   position: absolute;
   top: 3px;
   left: -10px;
   width: 1px;
   height: 12px;
   background-color: rgb(223,224,225);
}

.footer_menu li:first-child:before {
   display: none;
}

.footer_menu li:nth-child(3) {
   font-weight: 700;
}



.footer_menu li a{
   color: #878890;
}

.footer_copy {
   position: absolute;
   transform: translateX(-50%);
   width: 337px;
   height: 16px;
   left: 50%;
   background-image: url(../img/footer_copy.png);
}

.btn_affiliate {
   position: relative;
   padding-right: 26px;
   font-size: 14px;
   font-weight: 400;
}

.btn_affiliate::after {
   content: "";
   position: absolute;
   right: 0;
   top: 0;
   width: 16px;
   height: 16px;
   background-image: url(../img/sprite.png);
   background-size: 474px 1400px;
   background-position: -222px -26px;
}