* {margin: 0; padding: 0; box-sizing: border-box;}

a {text-decoration: none;}
a:hover {color:rgb(51,51,51);}
a:visited {color:rgb(51,51,51);}

div, ul, li { background-size: cover; background-repeat: no-repeat; }

button { border: 0; background: none; cursor: pointer;}